/* SignUp.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 5px;
  margin-left: 60px;
}

label {
  margin-right: 20px;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}

button:hover {
  background-color: #4cae4c;
}

p {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}
.l1{
  margin-left: 60px;
}
